@import 'tailwindcss';

@font-face {
    font-family: "Adwaita Sans";
    src: url("/fonts/AdwaitaSans-Regular.woff2");
}



:root {
    font-family: 'Adwaita Sans';
    @apply bg-[#564666ff] text-white;
}